---
import "@fontsource-variable/inter/index.css";
import fetchApi from "@lib/strapi";
import type Article from "@interfaces/article";
import Layout from "@layouts/Layout.astro";

const articles = await fetchApi<Article[]>({
  endpoint: 'articles?populate=*',
  wrappedByKey: 'data',
});
---

<Layout title='Blog'>
      <h1>Astro Website</h1>
      <ul>
        {
          articles.map((article) => (
            <a href={`/blog/${article.attributes.slug}/`}>
              {article.attributes.title}
            </a>
            <div class="wrap">
  
  <div class="circle">

    <img src={import.meta.env.STRAPI_URL + article.attributes.image.data.attributes.url} />

    </div>
  
</div>
            
          ))
        }
      </ul>
</Layout>