---
import "@fontsource-variable/inter/index.css";
import "@fontsource/inter";
import "@styles/base.css";

---

<!DOCTYPE html>
<html lang="en">
    <body class="transition-colors">
         <slot />
    </body>
</html>